.description-tours {
  margin-bottom: 111px;

  @media (min-width: @tablet-width) {
    margin-bottom: 117px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 234px;
  }
}

.description-tours__wrapper-desktop {
  @media (min-width: @desktop-width) {
    margin: 0 auto;
  }
}
